/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}
.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}
.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}
.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.search label {
  position: relative;
  width: 100%;
}
.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}
.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}
.user {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}
.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}
.cardBox .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}
.cardBox .card:hover {
  background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

/* ================== Order Details List ============== */
.Title {
  text-align: center;
  margin: 20px 20px;
}
.title-user {
  padding: 10px;
}
.title-user h2 {
  font-size: 3em;
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
}
.details-complete {
  position: relative;
  display: flex;
  width: 90%;
  padding: 20px;
  margin: auto;
}
.details-complete .controller {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.left,
.right {
  border: 2px solid #2a2185;
  width: 10%;
  height: 30px;
  cursor: pointer;
  color: #2a2185;
  border-radius: 6px;
}
.left:hover,
.right:hover {
  border: 2px solid #1795ce;
  color: #1795ce;
}
.details .recentOrders,
.details-complete .recentOrders {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .cardHeader,
.details-complete .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}
.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.details table,
.details-complete table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td,
.details-complete table thead td {
  font-weight: 600;
}
.details .recentOrders table tr,
.details-complete .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child,
.details-complete .recentOrders table tr:last-child {
  border-bottom: none;
}
.details .recentOrders table tbody tr:hover,
.details-complete .recentOrders table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}
.details .recentOrders table tr td,
.details-complete .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:last-child,
.details-complete .recentOrders table tr td:last-child {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(2),
.details-complete .recentOrders table tr td:nth-child(2) {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(3),
.details-complete .recentOrders table tr td:nth-child(3) {
  text-align: center;
}
.status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.inProgress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recentCustomers table tr td {
  padding: 12px 10px;
}
.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}
.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.recentCustomers table tr:hover {
  background: var(--blue);
  color: var(--white);
}
.recentCustomers table tr:hover td h4 span {
  color: var(--white);
}

/* ====================== Box info  ========================== */
.box-info {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  margin-top: 50px;
}
.box-title h2 {
  font-weight: 600;
  color: var(--blue);
  text-align: center;
}
.box-body {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.box-body div {
  width: 50%;
  padding: 30px;
  height: 20%;
  display: flex;
  justify-content: start;
  gap: 5px;
  align-items: center;
}
.box-button {
  text-align: center;
  padding: 30px 10px;
}
.box-button .btn {
  position: relative;
  padding: 15px 25px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.8 ease-in-out;
  font-weight: 600;
}
.box-button .btn:hover {
  background: var(--white);
  border: 2px solid var(--blue);
  color: var(--blue);
}
.password-view {
  cursor: pointer;
  font-size: 20px;
}
.password-view:hover {
  color: var(--blue);
}

/* ====================== Modal settings ========================== */
.modal-settings {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --translate: transform 0.8s;
}
.modal-settings .modal-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  margin: auto;
  border-radius: 15px;
  padding: 40px 30px;
  background-color: #fff;
  gap: 10px;
  position: relative;
  transform: var(--transform);
  transition: var(--translate);
}
.modal-settings .modal-container .modal-title {
  font-weight: 600;
  font-size: 35px;
  color: var(--blue);
  text-align: center;
}
.modal-settings .modal-container .modal-icon {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 35px;
  cursor: pointer;
  color: var(--blue);
}
.modal-settings .modal-container .modal-icon:hover {
  color: #f00;
}
.modal-settings .modal-container .modal-form {
  padding: 10px;
}
.modal-settings .modal-container .modal-form div {
  padding: 10px 20px;
}
.modal-settings .modal-container .modal-form div input {
  border: 3px solid #1795ce;
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 16px;
  transition: border 0.2s ease-in;
  padding: 0 3px;
}
.modal-settings .modal-container .modal-form div input:focus {
  border: none;
  border-bottom: 3px solid #1795ce;
}
.modal-settings .modal-container .modal-form button {
  margin: 10px 20px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  background-color: var(--blue);
  color: #fff;
  font-weight: 600;
}
.modal-settings .modal-container .modal-form .modal-text-repeat-password,
.modal-settings .modal-container .modal-form .modal-text-error-password,
.modal-settings .modal-container .modal-form .modal-text-incomplete-box {
  background-color: #e35b5d;
  position: relative;
  display: none;
}
.modal-settings .modal-container .modal-form .modal-text-ok {
  background-color: #5be362;
  position: relative;
  display: none;
}
.modal-settings .modal-container .modal-form .modal-text-repeat-password p,
.modal-settings .modal-container .modal-form .modal-text-error-password p,
.modal-settings .modal-container .modal-form .modal-text-incomplete-box p,
.modal-settings .modal-container .modal-form .modal-text-ok p {
  font-size: 20px;
  padding: 6px 10px;
  line-height: 2;
  font-weight: bold;
}
.icon-alert {
  font-size: 25px;
}
.icon-close {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 30px;
  cursor: pointer;
}
.icon-close:hover {
  color: #fff;
}

/* ====================== Modal user ========================== */
.modal-create-user {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --translate: transform 0.8s;
}
.modal-create-user .modal-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 45%;
  max-height: 95%;
  margin: auto;
  border-radius: 15px;
  padding: 40px 30px;
  background-color: #fff;
  gap: 10px;
  position: relative;
  transform: var(--transform);
  transition: var(--translate);
}
.modal-create-user .modal-container .modal-title {
  font-weight: 600;
  font-size: 35px;
  color: var(--blue);
  text-align: center;
}
.modal-create-user .modal-container .modal-icon-create {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 35px;
  cursor: pointer;
  color: var(--blue);
}
.modal-create-user .modal-container .modal-icon-create:hover {
  color: #f00;
}
.modal-create-user .modal-container .modal-form {
  padding: 10px;
}
.modal-create-user .modal-container .modal-form div {
  padding: 10px 20px;
}
.modal-create-user .modal-container .modal-form div input {
  border: 3px solid #1795ce;
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 16px;
  transition: border 0.2s ease-in;
  padding: 0 3px;
}
.modal-create-user .modal-container .modal-form div input:focus {
  border: none;
  border-bottom: 3px solid #1795ce;
}
.modal-create-user .modal-container .modal-form button {
  margin: 10px 20px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  background-color: var(--blue);
  color: #fff;
  font-weight: 600;
}
.modal-create-user .modal-container .modal-form .modal-text-incomplete-box {
  background-color: #e35b5d;
  position: relative;
  display: none;
}
.modal-create-user .modal-container .modal-form .modal-text-incomplete-box p {
  font-size: 20px;
  padding: 6px 10px;
  line-height: 2;
  font-weight: bold;
}
/* ======== Modal update user ======== */
.modal-update-user {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --translate: transform 0.8s;
}
.modal-update-user .modal-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 45%;
  max-height: 90%;
  margin: auto;
  border-radius: 15px;
  padding: 40px 30px;
  background-color: #fff;
  gap: 10px;
  position: relative;
  transform: var(--transform);
  transition: var(--translate);
}
.modal-update-user .modal-container .modal-title {
  font-weight: 600;
  font-size: 35px;
  color: var(--blue);
  text-align: center;
}
.modal-update-user .modal-container .modal-icon-update {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 35px;
  cursor: pointer;
  color: var(--blue);
}
.modal-update-user .modal-container .modal-icon-update:hover {
  color: #f00;
}
.modal-update-user .modal-container .modal-form {
  padding: 10px;
}
.modal-update-user .modal-container .modal-form div {
  padding: 10px 20px;
}
.modal-update-user .modal-container .modal-form div input {
  border: 3px solid #1795ce;
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 16px;
  transition: border 0.2s ease-in;
  padding: 0 3px;
}
.modal-update-user .modal-container .modal-form div input:focus {
  border: none;
  border-bottom: 3px solid #1795ce;
}
.modal-update-user .modal-container .modal-form button {
  margin: 10px 20px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  background-color: var(--blue);
  color: #fff;
  font-weight: 600;
}
.modal-update-user .modal-container .modal-form .modal-text-incomplete-box {
  background-color: #e35b5d;
  position: relative;
  display: none;
}
.modal-update-user .modal-container .modal-form .modal-text-incomplete-box p {
  font-size: 20px;
  padding: 6px 10px;
  line-height: 2;
  font-weight: bold;
}
.button-update-user,
.button-update-book {
  padding: 4px 10px;
  margin: 2px;
  color: white;
  font-size: 20px;
  background-color: #1795ce;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.button-delete-user,
.button-delete-book {
  padding: 4px 10px;
  margin: 2px;
  color: white;
  font-size: 20px;
  background-color: #e35b5d;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* ======== Modal delete user ======== */
.modal-delete-user {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --translate: transform 0.8s;
}
.modal-delete-user .modal-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  max-height: 45%;
  margin: auto;
  border-radius: 15px;
  padding: 40px 30px;
  background-color: #fff;
  gap: 10px;
  position: relative;
  transform: var(--transform);
  transition: var(--translate);
}
.modal-delete-user .modal-container .modal-title h2 {
  font-weight: 600;
  font-size: 35px;
  color: var(--blue);
  text-align: center;
}
.modal-delete-user .modal-container .modal-title p {
  font-size: 25px;
  color: #e35b5d;
  text-align: center;
}
.modal-delete-user .modal-container .modal-icon-delete {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 35px;
  cursor: pointer;
  color: var(--blue);
}
.modal-delete-user .modal-container .modal-icon-delete:hover {
  color: #f00;
}
.modal-delete-user .modal-container .modal-option {
  display: block;
  text-align: center;
  padding: 20px 30px;
}
.modal-delete-user .modal-container .modal-option button {
  margin: 10px 20px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  background-color: var(--blue);
  color: #fff;
  font-weight: 600;
}

/* ====================== Modal book ========================== */
.modal-create-book {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --translate: transform 0.8s;
}
.modal-create-book .modal-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 70vw;
  max-height: 95%;
  margin: auto;
  border-radius: 15px;
  padding: 40px 30px;
  background-color: #fff;
  gap: 10px;
  position: relative;
  transform: var(--transform);
  transition: var(--translate);
}
.modal-create-book .modal-container .modal-title {
  font-weight: 600;
  font-size: 35px;
  color: var(--blue);
  text-align: center;
}
.modal-create-book .modal-container .modal-icon-create {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 35px;
  cursor: pointer;
  color: var(--blue);
}
.modal-create-book .modal-container .modal-icon-create:hover {
  color: #f00;
}
.modal-create-book .modal-container .modal-form {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.modal-create-book .modal-container .modal-form .modal-input {
  padding: 5px 8px;
  margin: 6px 2px;
  width: 64%;
  border: 2px solid #999;
  border-radius: 6px;
}
.modal-create-book .modal-container .modal-form .modal-select {
  padding: 5px 3px;
  margin: 6px 2px;
  width: 34%;
  border: 2px solid #999;
  border-radius: 6px;
}
.modal-create-book .modal-container .modal-form .modal-input div {
  padding: 2px;
}
.modal-create-book .modal-container .modal-form .modal-input input {
  border: 3px solid #1795ce;
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 16px;
  transition: border 0.2s ease-in;
  padding: 0 3px;
}
.modal-create-book .modal-container .modal-form div input:focus {
  border: none;
  border-bottom: 3px solid #1795ce;
}
.modal-select .modal-select-title {
  display: flex;
  justify-content: space-around;
}
.modal-select .modal-select-title h2 {
  color: #1795ce;
}
.modal-select .modal-box-libro {
  padding: 3px;
  width: 100%;
  height: 70%;
  border: 1px solid #999;
  display: flex;
}
.modal-select .modal-box-libro .modal-categoria,
.modal-select .modal-box-libro .modal-carrera {
  width: 50%;
  height: 100%;
  margin: 1px;
  border: 1px solid #1795ce;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
.modal-select .modal-select-info-libro {
  width: 100%;
  height: 30%;
  padding: 5px 2px;
  display: flex;
}
.modal-select .modal-select-info-libro div {
  margin: auto;
  padding: 5px 15px;
}
#modal-select-carrera-create,
#modal-select-categoria-create {
  width: 80%;
}
.modal-create-book .modal-container .modal-form .modal-img {
  padding: 0 49px 0 10px;
  width: 100%;
}
.modal-create-book .modal-container .modal-form button {
  margin: 10px 20px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  background-color: var(--blue);
  color: #fff;
  font-weight: 600;
}
.modal-create-book .modal-container .modal-form .modal-text-incomplete-box {
  background-color: #e35b5d;
  position: relative;
  display: none;
}
.modal-create-book .modal-container .modal-form .modal-text-incomplete-box p {
  font-size: 20px;
  padding: 6px 10px;
  line-height: 2;
  font-weight: bold;
}
/* ======== Modal update book ======== */
.modal-update-book {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --translate: transform 0.8s;
}
.modal-update-book .modal-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 70vw;
  max-height: 95%;
  margin: auto;
  border-radius: 15px;
  padding: 40px 30px;
  background-color: #fff;
  gap: 10px;
  position: relative;
  transform: var(--transform);
  transition: var(--translate);
}
.modal-update-book .modal-container .modal-title {
  font-weight: 600;
  font-size: 35px;
  color: var(--blue);
  text-align: center;
}
.modal-update-book .modal-container .modal-icon-update {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 35px;
  cursor: pointer;
  color: var(--blue);
}
.modal-update-book .modal-container .modal-icon-update:hover {
  color: #f00;
}
.modal-update-book .modal-container .modal-form {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.modal-update-book .modal-container .modal-form .modal-input {
  padding: 5px 8px;
  margin: 6px 2px;
  width: 64%;
  border: 2px solid #999;
  border-radius: 6px;
}
.modal-update-book .modal-container .modal-form .modal-select {
  padding: 5px 3px;
  margin: 6px 2px;
  width: 34%;
  border: 2px solid #999;
  border-radius: 6px;
}
.modal-update-book .modal-container .modal-form .modal-input div {
  padding: 2px;
}
.modal-update-book .modal-container .modal-form .modal-input input {
  border: 3px solid #1795ce;
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 16px;
  transition: border 0.2s ease-in;
  padding: 0 3px;
}
.modal-update-book .modal-container .modal-form div input:focus {
  border: none;
  border-bottom: 3px solid #1795ce;
}
#modal-select-carrera-update,
#modal-select-categoria-update {
  width: 80%;
}
.modal-update-book .modal-container .modal-form .modal-img {
  padding: 0 49px 0 10px;
  width: 100%;
}
.modal-update-book .modal-container .modal-form button {
  margin: 10px 20px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  background-color: var(--blue);
  color: #fff;
  font-weight: 600;
}
.modal-update-book .modal-container .modal-form .modal-text-incomplete-box {
  background-color: #e35b5d;
  position: relative;
  display: none;
}
.modal-update-book .modal-container .modal-form .modal-text-incomplete-box p {
  font-size: 20px;
  padding: 6px 10px;
  line-height: 2;
  font-weight: bold;
}
.box-span {
  width: 47%;
  font-size: 12px;
  margin: 2px;
  padding: 4px;
  background-color: antiquewhite;
  border-radius: 6px;
  cursor: pointer;
}
/* ======== Modal delete book ======== */
.modal-delete-book {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --translate: transform 0.8s;
}
.modal-delete-book .modal-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  margin: auto;
  border-radius: 15px;
  padding: 40px 30px;
  background-color: #fff;
  gap: 10px;
  position: relative;
  transform: var(--transform);
  transition: var(--translate);
}
.modal-delete-book .modal-container .modal-title h2 {
  font-weight: 600;
  font-size: 35px;
  color: var(--blue);
  text-align: center;
}
.modal-delete-book .modal-container .modal-title p {
  font-size: 25px;
  color: #e35b5d;
  text-align: center;
}
.modal-delete-book .modal-container .modal-icon-delete {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 35px;
  cursor: pointer;
  color: var(--blue);
}
.modal-delete-book .modal-container .modal-icon-delete:hover {
  color: #f00;
}
.modal-delete-book .modal-container .modal-option {
  display: block;
  text-align: center;
  padding: 20px 30px;
}
.modal-delete-book .modal-container .modal-option button {
  margin: 10px 20px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  background-color: var(--blue);
  color: #fff;
  font-weight: 600;
}

/* ====================== Showing box ========================== */
.modal-show-alert {
  display: block;
}
.modal-show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --translate: transform 0.8s 0.8s;
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .details {
    grid-template-columns: 1fr;
  }
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .user h2 {
    font-size: 25px;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
  .modal-create-book .modal-container {
    max-width: 95vw;
  }
  .box-span {
    width: 90%;
    margin: auto;
    margin-top: 4px;
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
  .modal-select .modal-select-info-libro {
    padding: 2px 0;
  }
  .modal-select .modal-select-info-libro div {
    padding: 2px 5px;
  }
  .modal-create-user .modal-container,
  .modal-update-user .modal-container {
    max-width: 75%;
  }
  .modal-create-user .modal-container .modal-title,
  .modal-update-user .modal-container .modal-title,
  .modal-create-book .modal-container .modal-title,
  .modal-update-book .modal-container .modal-title {
    font-size: 25px;
  }
  .modal-select .modal-select-title h2 {
    font-size: 12px;
  }
  .box-span {
    font-size: 8px;
    text-align: center;
  }
  .modal-update-book .modal-container,
  .modal-create-book .modal-container {
    padding: 20px 10px;
    width: 97%;
    overflow-y: scroll;
  }
  .modal-update-book .modal-container .modal-form,
  .modal-create-book .modal-container .modal-form {
    padding: 2px 0;
    flex-direction: column;
  }
  .modal-update-book .modal-container .modal-form div,
  .modal-create-book .modal-container .modal-form div {
    width: 95% !important;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .user h2 {
    font-size: 15px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
  .modal-create-user .modal-container .modal-form,
  .modal-update-user .modal-container .modal-form {
    padding: 5px;
  }
  .modal-create-user .modal-container .modal-form div,
  .modal-update-user .modal-container .modal-form div {
    padding: 5px 10px;
  }
}
